@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --dark-blue: #102f51;
  --light-blue: #0d73bb;
  --gray: #b0b1b5;
  --white: #fff;
}
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}
.over_hiddens {
  overflow-x: hidden !important;
}
a {
  color: unset !important;
  text-decoration: unset !important;
}
.text_light_blue {
  color: var(--light-blue) !important;
  fill: var(--light-blue) !important;
}
.text_dark_blue {
  color: var(--dark-blue) !important;
  fill: var(--dark-blue) !important;
}

.fw_600 {
  font-weight: 600 !important;
}
.fs-7 {
  font-size: 14px;
}
.bg-gray {
  background-color: var(--gray);
}

.bg-blue {
  background-color: var(--dark-blue);
}
.banner_sec {
  min-height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  background: url(../img/rectangle-481@2x.png);
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
}
.header_web {
  position: absolute;
  top: 40px;
  height: 65px;
  width: 90%;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  opacity: 0.65;
  background: #fff;
  box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.16);
}
.banner_btn {
  background: transparent;
  border: 1px solid var(--dark-blue);
  text-transform: capitalize;
  font-weight: 600;
  height: 40px;
  color: var(--dark-blue);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.text-faded {
  opacity: 0.8;
}
.banner_btn:hover {
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  color: var(--white);
}
.banner_btn_white {
  background: transparent;
  border: 1px solid var(--white);
  text-transform: capitalize;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: var(--white);
  border-radius: 25px;
  transition: all 0.5s ease;
}
.text-faded {
  opacity: 0.8;
}
.banner_btn:hover {
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  color: var(--white);
}
.row-gray-color {
  background-color: #f2f2f2;
  height: 300px;
  right: 0;
  width: 85% !important;
  position: absolute;
  z-index: -1;
  border-radius: 8px;
}
.left {
  left: 0 !important;
}
.our_mission {
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Position relative to allow absolute positioning of ::before */
}
.our_partner {
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Position relative to allow absolute positioning of ::before */
}

.our_mission::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value for darkness (0.5 for 50% darkness) */
  z-index: -1; /* Places the pseudo-element below the content */
}

.our_mission::after {
  content: "";
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/our-misson.png); /* Your background image */
  z-index: -2; /* Places the background image below the darkness overlay */
  opacity: 0.9; /* Adjust the opacity as needed (0.7 for 70% opacity) */
  /* Optional: You can adjust the size and positioning of the background image here */
  background-size: cover;
  background-position: center center;
}
.nav_items {
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.nav_items:hover {
  color: var(--light-blue) !important;
}
.card_gray {
  background-color: #f2f2f2;
}

.loader {
  background-color: var(--dark-blue);
  min-height: 100vh !important;
  z-index: 999999;
  display: flex;
  position: fixed;
  user-select: none;
  scroll-behavior: none !important;
  width: 100% !important;
  justify-content: center;
  top: 0;
  align-items: center;
}
.header_web .logo {
  width: 300px;
}
.opacity-0 {
  opacity: 0;
}

.splide__list {
  display: flex !important;
  /* gap: 20px !important; */
  justify-content: space-between !important;
  /* background-color: red; */
}
.portfolio .splide__slide {
  /* width: 32% !important; */
}
.portfolio .splide__arrows {
  right: 8% !important ;
  bottom: -25% !important;
  position: absolute !important;
  display: flex !important;
  background-color: red !important;
  justify-content: center !important;
}
.portfolio .splide__arrow {
  border-radius: 50% !important;
  border: 2px solid var(--dark-blue) !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  padding: 20px !important;
}

.img_card {
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.5s ease;
}
.img_card img {
  height: 100%;
  width: 100%;
}
.img_card .card_tag {
  background-color: var(--white);
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  margin: 0px 5% !important;
  transition: 0.5s ease;
}
.img_card:hover .card_tag {
  background-color: var(--light-blue);
  color: var(--white);
}
.bg_arc {
  position: relative;
}
.bg_arc::before {
  background-color: var(--white);
  /* background-color: var(--white) ; */
  content: "";
  height: 80px;
  border-radius: 0% 0% 100% 100%;
  display: flex;

  top: 0;
}
.build_height {
  height: 300px;
}

.build_img {
  bottom: 0%;
  height: 500px !important;
  position: absolute;
}
.img_card:hover {
  transform: scale(1);
}
.testimonials {
  min-height: 70vh;
  max-height: 70vh;
  height: 70vh;
  display: flex;
  position: relative;
}

.testimonials_left {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  /* position: absolute; */
  border-bottom-right-radius: 50px;
  height: 80% !important;
}
.line {
  height: 2px;
  width: 100%;
  display: flex;
  background-color: var(--dark-blue);
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
/* .splide__slide.is-active .avatar {
  height: 100px;
  width: 100px;
} */
.car_color {
  /* background-color: #ff5733; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.au_form_control {
  border-radius: 5px;
  border: 1px solid #102f51;
  /* height: 40px; */
  padding: 15px 20px;
  color: var(--gray);

  background: rgba(16, 47, 81, 0);
}
.au_form_control:focus {
  outline: unset;
}
.contact_sec {
  min-height: 70vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/rectangle-482@2x.png);
  /* background-color: red; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */

.footer {
  background-color: var(--dark-blue);
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  /* padding: 20px 0px; */
}
.light {
  background-color: var(--light-blue) !important;
}
.icon_box {
  height: 30px;
  width: 30px;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  align-items: center;
}
@media (max-width: 991px) {
  .footer {
    padding: 40px 5px;
  }
  .line {
    display: none;
  }
  .banner_sec {
    min-height: 68vh;
    overflow: hidden;
    max-height: 70vh;
  }
  .header_web .logo {
    width: 200px;
  }
  .header_web {
    width: 95%;
    height: 50px;
  }
  .portfolio .splide__arrows {
    display: none !important;
  }
  .img_card {
    height: auto !important;
  }
  .img_card .card_tag,
  .card_tag p {
    font-size: 10px !important;
    height: auto;
    padding: 3px 0px;
  }

  .bg_arc::before {
    background-color: var(--white);
    /* background-color: var(--white) ; */
    content: "";
    height: 0px;
    border-radius: 0% 0% 100% 100%;
    display: flex;

    top: 0;
  }
  .our_mission {
    padding: 5px;
  }
  .miss_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
  }
  .testimonials_left {
    padding: 50px 0px;
  }
  .testimonials {
    min-height: auto;
    max-height: auto;
    height: auto;
  }
}
